body{
  margin:0;
  background-color: #0B2434;
  padding: 60px 300px;
}

main {
  background-color: #F5F5F5;
  height: 100%;
  max-width: 100%;
  border-radius: 5px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title-container {
  text-align: center;
}

.card-container {
display: flex;
justify-content: space-between;
}

.sub-container {
   text-align: center;
}

.even-container {
  display: grid;
  /* grid-template: auto auto / repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin:50px;
  padding:20px 40px;

}

.odd-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin:50px;
  padding:20px 40px;
}

.card-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.win-message {
  text-align: center;
  color: rgb(255, 0, 212);
}

.hint {
  color: blue;
  font-size: 30px;
}

.win {
  color: red;
  font-size: 35px;
}

.card-num {
  font-size: 2rem;
}

button {
  font-size: 1.4rem;

  /* text-align: center; */
  height: 50px;
  width: 140px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;

    font-family: 'Karla', sans-serif;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:blueviolet;
}